/*
  Add style rules for the body of a your webpage.
  Note: These rules will be applied to all elements.
*/
body {

  /* Add a background color or image */
  background-color: hwb(210 43% 56% / 0.392);
  background-image: url('');
  font-family: Arial;
  font-size: 16px;
  color: #000000;

  /* Adjust the padding and margins */
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  margin-top: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 4%;
}

.header-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  background-color: #075b2080;
  color: #fff;
  border: 5px solid #04502844;
  padding: 20px;
  text-align: center;
  padding-top: 30px;/* Update text alignment as desired */
  margin-top: 20px; /* Update margin-top as desired */
}

.header-item:nth-of-type(1) {
  flex: 1; /* Update the style for the first flex-item */
  background-color: #ffffff;
  padding: 10px;
}

.header-item:nth-of-type(2) {
  flex: 2; /* Update the style for the second flex-item */
  background-color: #ffffff;
  padding: 10px;
}

/* ID selector for header-img */
#header-img {
  max-width: 100%;
  height: auto;
  margin-left: 10px; /* Add margin on the left for spacing */
  margin-right: 95px;
  margin-top: 50px;/* Add margin on the right for spacing */
  width: 180px; /* Set the width of your image */
}

/* Class selector for header-button */
.header-button {
  background-color: #253f58;
  border: 2px solid #000000;
  color: #faf5f5;
  padding: 10px 20px;
  margin: 5px;
  text-decoration:none;
  display: inline-block;
  border-radius: 5px;
  text-align: center; /* Center the text within the button */
  font-size: 16px; /* Adjust the font size as needed */
  cursor: pointer; /* Change cursor to pointer when hovering */
}

.header-button:hover{
background-color: #8fb7e8;
color: #204872;
}

.footer {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #253f58;
  color: #fff;
  text-align: center;
  padding: 10px 0; /* Add padding for better spacing */
}

/* Style for footer links */
.footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px; /* Add spacing between links */
}

/* Style for footer links on hover */
.footer a:hover {
  text-decoration: underline;
}

/* Part 1: Navbar */

.navbar {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 0%;
  width: 100%;
  /*left: 50%;*/
  margin-top: 0px;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.navbar li {
  list-style-type: none;
  float: left;
  margin: 0% 20px; /* Adjust margin as needed */
}

.navbar li a {
  display: block;
  background-color: #253f58;
  text-decoration: none;
  color: #eeeaf0; /* Choose an appropriate color */
  text-align: center;
  padding: 10px; /* Adjust padding as needed */
}

.navbar li a:hover {
  background-color: #536e95; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
}


/* Customize Dark Mode Theme */
.dark-mode {
background-color: #222020;
}

.dark-mode p {
color: #ffffff;
}

.dark-mode h2{
color: #99f09d;
}

.dark-mode h3{
color: #99f09d;
}

.dark-mode h5{
color: #99f09d;
}

.dark-mode ul{
color: white
}
.dark-mode .header-title {
  color: white; /* Text color in dark mode */
}
/* Add style to button */
#theme-button {
text-decoration: none;
font: bold;
font-family: none;
background-color: #253f58;
color: #fafafa;
padding: 5px;
}

#reduce-motion-button {
text-decoration: none;
font: bold;
font-family: none;
background-color: #253f58;
color: #fefbfb;
padding: 5px;
}

.petition-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
}

/* Styles for the petition paragraph */
.petition-para {
    width: 55%;
    padding-right: 10px;
    margin-left: 10px;
}

/* Styles for the signatures */
.signatures {
    width: 45%;
    padding-right: 10px;
}
/* the modal that covers the background and prevents user interactions */
.modal {
display: none; /* hides the modal from view by default*/
position: fixed; /* keeps the modal in one place */
z-index: 2; /* positions the modal on top of all other elements on the screen */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
flex-direction: column; /* these flexbox rules center the content on the screen */
align-items: center;
justify-content: center;
}

/* box that contains all the content and images */
.modal-content {
background-color: #fcfeff; /* update the colors and font sizes as you like */
color: black;
text-align: center;
font-size: 3rem;
display: flex; /* adds flexbox to center all items */
justify-content: center;
align-items: center;
}

#thanks-modal-content {
font: bold;
font-family: 'Times New Roman', Times, serif;
-webkit-text-stroke: 0.9px #9f1fa8;
color: #000000;
width: 20rem; /* sets a default width for the text container */
}

#modal-text-container {
display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
flex-direction: column;
align-items: center;
justify-content: center;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: #6f0b0b;
  background: pink;
}

/* Add to CSS file */
.revealable {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

/* Add to CSS file */
.active {
  transform: translateY(0);
  opacity: 1;
}


h1 {
color: #000000;
font-family: sans-serif;
border: none;
-webkit-text-stroke: 0.2px #065c20; /* WebKit browsers (Safari, Chrome) */
padding: 5px;
font-size: 55px;
}

h2 {
color: #083a12cf;
margin-left: 10px;
font-size: 30px;
}

h3 {
 color: #065c20;
margin-left: 10px;
font-size: 20px;
}

h4 {
color: #ffffff;
margin-left: 10px;
font-size: 20px;
}

h5 {
color: #065c20;
margin-left: 10px;
margin-bottom: 10px;
font-size: 30px;
}

p{
color: black;
font-weight: bold;
font-size: 12pt;
margin-left: 10%;
margin-right: 10%;
}


.revealable {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}


.active {
  transform: translateY(0);
  opacity: 1;
}

a:link {
  color: #ffffff; /* Define the default link color */
  text-decoration: none; /* Remove underlines by default */
  /* You can add other styles like font-size, font-weight, etc. as needed */
}

a:visited {
  color: #ffffff; /* Define the color for visited links */
  /* You can add other styles like font-size, font-weight, etc. as needed */
}

a:hover {
  color: #065c20; /* Define the color for hovered links */
  text-decoration: underline;
  /* Add an underline on hover, for example */
  /* You can add other styles like background color, transition effects, etc. */
}

a:active {
  color: #0d273f; /* Define the color for active links */
  /* You can add other styles like changing background color or border properties for active links */
}


/*
Style Lists: Styles added to the ol or ul style rulesets affect the entire
list, while styles added to the li style ruleset affect individual list items
*/


ol {
color: black;
list-style-position: inside;
text-align: center;
}


/*
Style Buttons: Add style rules for any headings (h1-6),
paragraphs and links
*/

button {
background-color:  #008CBA;
border: none;
color: #88469b;
font-size: 16px;
text-align: center;
padding: 15px 32px;
cursor: pointer;
}

.important {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
 font-size: 19pt;
 text-align: center;
}

#interesting {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Select and style elements by class name or ID */


/* Example: This styles elements with class="header"*/
.header {

}


/* Example: This styles an element with an id="header-img" */
#header-img {
size: 20px;
}
